.incorrect {
	text-align: center;
	align-content: center;
}

.correct {
	text-align: center;
	align-content:center;
}

.nextButton {
	margin-top: 5px;
}

#displayed_leaf {
	display:block;
	margin-left: auto;
	margin-right:auto;
	width:50%;
}